@page
@model Bica_Ionut_Bogdan.Pages.Categorii.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CategorieAlergii</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategorieAlergii.catAlergii)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategorieAlergii.catAlergii)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CategorieAlergii.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
