@page
@model Bica_Ionut_Bogdan.Pages.Categorii.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategorieAlergii</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategorieAlergii.catAlergii)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategorieAlergii.catAlergii)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CategorieAlergii.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
